<% provide(:title, 'Branding') %>
<h1>Branding</h1>
<p>Brands are strategic ownership of market position and are  formed by the thoughts, attitudes and opinions of customers. 
</p>

<table cellpadding="6">
<tr>
<td><%=image_tag("Ferrari_Brand.jpg", alt: "The Ferrari brand offers status and prestige to it's clients as a non-price value add")%></td>
<td>
<p>
The strategic purpose of branding is to add value by differentiating products and services from alternatives when other product related features such as price or quality are exhausted. Additional value such as convenience, great customer service, status, belonging to a group gives a brand the opportunity to receive monetary value equal to the perceived benefits of these non price related benefits.</p>
</td>
</tr>
</table>



<h2>Brand Equity</h2>
<p>Brand Equity is the value the brand add to the product.</p>
<h2>Brand Identity</h2>
<p>Brand identity is the personality of the brand defined by  collective consumer perception. Perceptions are the thoughts and feelings consumers have about product benefits, brands story and the company. A brand resides in the minds of consumers.
</p>
<h2>Brand Image</h2>
<p> Brands differentiate by product quality, image</p>

<h2> Brand Awareness</h2> 
<p>Awareness is the storage space that allows marketers to harbour brand associations. </p>

<h3>Deep Awareness</h3> 
Customers have deep brand awareness if they are recall and recognise a brand with or without prompting. Every time a customer is in the same consumption setting they think of their brand. For example everytime a consumers thinks of the luxury car segment they think of Porshe.</p>
<h3>Broad Awareness</h3>
<p>Customers are broadly aware if they have purchase history via gifting or consumption. No matter what the consumption setting the consumer thinks of their brand. For example everytime a consumers thinks of the car segment they think of Porshe.</p> 
Although Porsche is know in the product category for luxury cars (Depth) it fails in the 4W Drive category if consumers do not recall the brand from memory.

<p>Deep awareness can be increased by frequency and repetition. Therefore the frequency of communication and advertising is important. It is important to measure optimal frequency.
