<% provide(:title, 'Branding') %>
<h1>Branding</h1>
<p>Brands are strategic ownership of market position. Brand identity is the personality of the brand defined by  collective consumer perception. Perceptions are the thoughts and feelings consumers have about product benefits, brands story and the company. A brand resides in the minds of consumers.</p>

<p> Brand Equity is the value the brand add to the product.</p>
<p> The strategic purpose of branding is to add value by differentiating the product from alternatives when other product related features(priice, quality etc) are exhausted.</p>
<p> Brands differentiate by product quality, image</p>
<p> Brand Awareness. 
Awareness is the storage space that allows you to harbour brand associations. Customers have deep brand awareness if they are recall and recognise a brand with or without prompting. Customers are broadly aware if they have purchase history via gifting or consumption. Increase brand awareness with repetition. Therefore the frequency of communication and advertising is important. It is important to measure optimal frequency.</p>
