<% provide(:title, 'Content Marketing') %>
<h1>Content Marketing</h1>
<h3>Where to put your quality contnent.</h3>
<a href ="http://blog.kissmetrics.com/improve-your-google-authorship/">A great article by kissmetrics on Google + authorship</a>
<p>AIDA<p>
<h3>Attention</h3>
<p>We live in an age of information overload. Inboxs overflowing with emails, sms's buzzing, social media flooded with upodates and posts. Cut through the clutter with creative design backed by relevant content.</p>
<p>Appealing to the customers lifestyle, values, attitudes and desires. Engage an emotional response with real imagery.</p>

<h3>Interest</h3>
<p>Use entertainment and education to get customers actively reading and interacting with your content</p>

<h4>Video is an great way to tell a story.</h4>

<h5>Video platforms</h5>
<ol>
<li>Vimeo</li>
<li>Youtube</li>
<li>Vine</li>
</ol>

<h4>Presentations</h4>
<h5>Presentation software</h5>
<ol>
<li>SlideShare.</li>
<li>Prezi.</li>
</ol>