<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Contact Lauren about the Marketing Guide.
  Email:   
   <a href="mailto:devrieslauren1_@gmail.com?subject=I have a marketing question">
Lauren</a> .
</p>