<% provide(:title, 'Digital Marketing') %>
<h1>Digital Marketing </h1>

<p>Digital Marketing is an umbrella term for all things electronic that relate to marketing. These include gaming consoles, mobile aps and . Within the Digital marekting space there is online marketing and online advertising. Online marketing incorporates topics such as SEO, social medial marketing, email marketing and mobile marketing (that uses internet connection via wifi, not the app versions). Online advertising include search engine marketing (SEM) also called digital advertising and social media advertising (facebook ads, pinterest ad, linked in ad etc).</p>

<h2>Challenges for the digital marketer</h2>
<h3>Keeping up with digital </h3>
<p>Digital marketing moves at such a fast pace.</p>

<h3>Understanding language of technology</h3>
<p>From php to html5 to rub on rails and Java, the language of the programmer/developer/IT guy is foreign to marketers. I'm a digital marketer fortunant to have a partner who is a progammer highly enthusiastic about cutting edge technology. In this world at the interface of tech and marekting, the CMO and CIO need to become best buddies. Marketers need to become fluent in tech-speak to create innovative digi-campaigns and breakthrough customer solutions.</p> 
<h3>Too many choices</h3>
<p>Marketers are spoilt for choice but therein lies the challenge. Which one? How do we wade through the plethora of options to find the one that best suits our needs?<!-- Media scopt ass for the Australian Digital Media Trading Market image --></p>

