<% provide(:title, 'Digital Advertising') %>
<h1>Digital Advertising</h1>
<p>Digital Advertising content is soon to come!
</p>


<h3>PPC (AdWords) </h3>
<p> If you have the budget for it you could  get some good quantitative insights with  initial exploratory PPC campaigns and targeted landing pages. This knowledge is valuable and can fuel strategies for other avenues such as SEO and Social Media</p>

<h3>Facebook Advertising Goals</h3>
<ul>
  <li><p><b>Increase Relevant Page Likes:</b> Relevant likes come from people actually interested in your offer who willingly clicked like. Facebook likes means that users see your social media content in their newsfeed.</p>  Expect to pay anywhere from $.20 to $1.00 per relevant Facebook Like.</li>
  <li><p><b>Increase Traffic to your site:</b> 
  Use promoted posts. Promoted posts are prioritised to reach non-Fans in Facebook's sidebar and reach fans in the newsfeed that have missed the initial post.<p>Run your ads at a frequency that doesn't create apathy with you audience. This may be 3-4 times a week. Expect to reach about 20% of your Fans that have missed the initial post.
  </li>
  <li>Domain Sponsored Stories</li>
  <li>Promote Products and Services</li>
</ul>
