<% provide(:title, 'Digital Advertising') %>
<h1>Digital Advertising</h1>
<p>Customer acquisition costs money.  Advertising costs money. The great thing for start-ups and small business is that the low cost of digital advertising allows you to complete with the big brands. Traditional advertsing can be expensive. Television TCV,  billboards, radio can cost a few  thousand K's (or more).</p>
<p> Medium to Large businesses are now realising the value of digital marketing. Digital marketing is cost effective, measurable and is the most accurate medium to measure return on investment (ROI).
</p>
<h3>PPC (AdWords) </h3>
<p>PPC marketing is not only accountable for ROI,  the knowledged gained can be leveraged to aid other digital strategies as well.
Here's an PPC example of an ideal ecommerce situation. </p>
<ol>
<li>Meagan uses 'keywords' to search for information on glasses chains as a gist for Mother's Day.</li>
<li>Meagan sees an ad for glasses chains and clicks it.</li>
<li>Speclace a glasses chain company pays a set cost for the click. Speclace usually has a CPC of $0.60</li>
<li>Meagan's click takes her to Speclace's landing page created specifically for a "glasses chain" search.</li>
<li>Meagan determines in 3 seconds or less whether she has 'landed' on the right page.</li>
<li> Meagan decides to purchase <a href="http://www.specklace.com.au/Specklaces/Jungle_Range/Tiger_Swirl.php">Tiger Swirl</a> for her Mother.
</li>
</ol>
<p>Speclace was diligent enough to make sure that the landing page created a high quality and relevant user experience.</p> Relevant landing pages reduce bounce rates, where the customer exits the page soon after viewing it.</p>
<h4>Quotes from other marketers</h4>
<i>The best CTRs I've experienced come from specific Ad Groups & relevant ad copy leading to relevant landing pages</i>

<h3>Facebook Advertising Goals</h3>
<ul>
  <li><p><b>Increase Relevant Page Likes:</b> Relevant likes come from people actually interested in your offer who willingly clicked like. Facebook likes means that users see your social media content in their newsfeed.</p>  Expect to pay anywhere from $.20 to $1.00 per relevant Facebook Like.</li>
  <li><p><b>Increase Traffic to your site:</b> 
  Use promoted posts. Promoted posts are prioritised to reach non-Fans in Facebook's sidebar and reach fans in the newsfeed that have missed the initial post.<p>Run your ads at a frequency that doesn't create apathy with you audience. This may be 3-4 times a week. Expect to reach about 20% of your Fans that have missed the initial post.
  </li>
  <li>Domain Sponsored Stories</li>
  <li>Promote Products and Services</li>
</ul>
