<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>A quick guide to everything under the marketing umbrella.
  <a href="http://railstutorial.org/help">Rails Tutorial help page</a>.
  To get further advice on a particular topic contact  
  <a href="mailto:lucky27_@hotmail.com?subject=I have a marketing question">
Lauren</a>.
</p>