<% provide(:title, 'Key Metrics') %>
<h1>Key Metrics</h1>
<p> Doing analytics well is a top priority. Here's why. In order to create an effective marketing strategy you need know which channels work and which ones don’t. This knowledge must be found as quickly as possible so you can find insights and discoveries.
Otherwise you'll be wasting a lot of time and money on meaningless tactics that aren't in line with your vision.</p>

<p> Analytics takes time. It wont happen overnight.
<h3> Great Resources</h3>
<ul>
<li> Kissmetrics</li>
</ul> 
</p>
<h3>Key Metrics for PPC</h3>
<h4>Impressions -> Clicks -> Conversion </h4>
<p>Ad position on the search engine results page (SERP) is influenced by the max CPC bid that you choose to pay and the relevence of the ad to the keywords in your ad group. Revelence is also known as the quality score.</p>


<h3>Key Metrics for Customer Growth</h3>
<h4>Like any asset, brand loyalty isn’t free but it's worth it. </h4>
<ul>
<li>Customer Tiers: Customer Profitability places a value on each customer to disaggregate them, based on profits gained over a period of time (Keller, 2008). Farris et al (2010), suggest customer profitability as a precursor to a differential content relationship management (CRM) strategy, designed to improve a firm’s profitability.</li>
<li>Lifetime Value: LTV</li>
<p>New customer acquisition can cost up to seven times more than customer retention. Whether your customer are truly brand loyalty or simply suffering for apathy it is essential to nurture your existing customer base.</p><p>A focus on retention has 2 major benefits, repeat purchase and word of mouth recommendation. Repeat customers are more likely to purchase more items, spend more per item and introduce/influence others in favour of your brand.  </p><p>Steady customers help brands weather  economic storms.</p>

<li>Net Promoter Score: NPS:
Positive word-of-mouth (WOM) and peer recommendations are essential for new businesses; not only for generating brand awareness but also the credible and trusted brand image it creates (Shrimp & Andrews, 2013). Asteil & Grow (2013), states that happy customers generally tell an average of 3 people about a products or brands and may become powerful brand advocates or influencers (see Figure 4). Therefore the more influencers that actively discuss product benefits and spread the brand message, the more appealing Speclace becomes to consumers. 
<p><i>
Hello Speclace: Thank you so much. I love the necklace and it's around my neck right now. I'll be buying more over time and telling everyone I know where the beautiful Speclace came from. Keep in touch. Thanks again: Name removed for privacy purposes.
Figure 4. Feedback indicating intentions to spread positive word-of-mouth.</i></p><p>The net promoter score metric is useful to estimate new customer growth by word of mouth (Farris, Bendle, Pfeifer & Reibstein, 2010). Approximately one month after purchase customers are sent a short survey to determine satisfaction levels and assess willingness to recommend (WTR). This data is combined with the annual brand survey to measure and compare WTR of customers versus non customers (with brand awareness).</p>
</li>
</ul>


<h3> Ways to increase brand loyalty</h3>

<ol>
<li>Feature Top Customers in Your Content. For example engage your customers with contests via social media. Customer Stories sections on your site, facebook, pinterest page.</li>
<li> Surprise the top tier customers with something they'd love. Research via social media to find something unique.</li><li>Involve them in new product ideas. Leave space for  customers to make suggestions. For example on landing pages, blogs, social media posts. Offer a  participation incentive to increase the number of responses.

Credit great ideas and announce it to your whole following for positive social rewards.</li>
<li> Solves their problems</li>
Offer something to them that can solve a significant problem. Your customers will rely on you for more than just your product or service. You are their champion and that makes you almost irreplaceable. Hard to replace.Impossible to forget.

</ol>

