<% provide(:title, 'Keyword Research') %>
<h1>Keyword Research</h1>

<p>Keyword research is one of the most important starting points for search engine marketing. Ranking for thr 'right' keywords is imperative to high flow relevant traffic. The benefit of keyword research is twofold. Firstly you learn which terms and phrases to target with SEO. Secondly you learn more about your customers, what they need and how you can solve their problem. Actively seeking visitors tell you vis their keyword phrases what they are searching for and alert you to shifts in demand.</p>
<h3>Keyword Research step-by-step</h3>
<ol>
<li>Make a list of keywords relevant to your business.<p>Look at your competitor keywords</p>
<ul><li>
Google Adwords’ Keyword Tool</li>
<li>Google Insights for Search</li>
<li>Google Trends Keyword Demand Prediction</li>
<li>Microsoft Advertising Intelligence</li>
<li>Wordtracker’s Free Basic Keyword Demand</li>
<li> Moz Keyword Research </li>
</ul>
<h4>Sample campaign for keyword research</h4>
<p>If you have the budget for it you could get some good quantitative insights with initial exploratory PPC campaigns and targeted landing pages. This knowledge is valuable and can fuel strategies for other avenues such as SEO and Social Media. USe Google’s AdWords Keyword Tool.</p>
<h3>Keyword Difficulty</h3>
<p>Ranking highly takes time and money</p><p> To complete with the large brands it is important to start with easy keywords such as 3-4 word phrases whilst you build up content.</p>