<% provide(:title, 'Keyword Research') %>
<h1>Keyword Research</h1>

                <p>If you have the budget for it you could get some good
                quantitative insights with initial exploratory PPC campaigns
                and targeted landing pages. This knowledge is valuable and can
                fuel strategies for other avenues such as SEO and Social
                Media.</p>