<% provide(:title, 'Marketing Strategies') %>
<h1>Marketing Strategies</h1>
<p>Marketing Strategies content is soon to come!
</p>

<h3>Digital Marketing Strategy</h3>
<p>Stay ahead and experience growth by developing a digital marketing strategy. </p>
<ul>
 <li>Clearing define the goal using SMART metrics. sPrecision based strategy in important for digital marketing. Strong goals help you know what to focus on.
   <ul>
    <li>Increase new customer aquisition by X% in 3 months.</li>
    <li>Decrease attrition rate by X% by focussing on retention strategies.</li>
    <li>Increase customer purchase size by an average of X% over 6 months.</li>
    <li>Increase customer purchase frequency by an average of X% over 1 year.</li>
   </ul>
  </li>
  <li> Marketing Funnel
  <p>Draw out your ideal customer's journey with the AIDA concept.
  Consumer --> Lead --> Customer --> Brand evangelist. Develop certain strategies for each step to move them through the funnel.
    <ul>
     <li> Consumer --> Awareness <p> Consumers stumble upon your website through a variety of sources. At this stage the goal it to create awareness about your offer. Give them the valuable resource they are searching for in exchange for information about them. Use a call-to-action (CTA)  </li>
     <li> Lead --> Interest/Desire<p>Piques their interest</p></li>
     <li> Customer --> Action</li>
     <li> Promoter --> Understanding</li>
    </ul>

   Things like lead magnets, calls to action, opt-ins and offers are all effective pieces of a funnel. You can think of a marketing funnel in four parts: Awareness, Interest, Desire, and Action.</p>

  </li>