<% provide(:title, 'Marketing Objectives') %>
<h1>Marketing Objectives</h1>
<ul>
 <li>Clearly define the goal using SMART metrics.  Strong goals help you know what to focus on.
   <ul>
    <li>Increase new customer aquisition by X% in 3 months.</li>
    <li>Decrease attrition rate by X% by focussing on retention strategies.</li>
    <li>Increase customer purchase size by an average of X% over 6 months.</li>
    <li>Increase customer purchase frequency by an average of X% over 1 year.</li>
   </ul>
