<% provide(:title, 'Marketing Acronyms') %>
<h1>Marketing Acronyms</h1>
<p> Acronym soup</p>
<h3>Online</h3>
<ol>
<li> CTA: Call to action</li>
</ol>

<h3>Product Related</h3>
<ol>
<li> PLC: Product Life Cycle</li>
</ol>


<h3>Customer Related</h3>
<ol>
<li> LTV: Life Time Value</li>
</ol>