<% provide(:title, 'Marketing Strategies') %>
<h1>Marketing Strategies</h1>

<h3> Marketing Mix Strategies</h3>
<h4>Product</h4>
<ul>

<li>Specification of the core product/service, features, quality, QC & QA. </li>
<li>Supporting customer services. </li>
<li>Warranty (what is covered, timing and support)</li> 
<li>Branding. Adhere to the style guide.</li>
<li>Packaging-promotion needs, protection needs. </li>
</ul>

<h4>Price</h4>
<ul>
<li>Demand and cost analysis.</li>
<li>Mark-up chain in channel.</li>
<li>Price flexibility and demand elasticity.</li>
<li>￼Assessment of Cannibalization</li>
<li>Adjustments to prices - discounts, sales offerings. Price waterfall metrics to discover and justify lost margins along the distribution channels. </li>
</ul>

<h4> Channel Distribution</h4>
<ul>
<li>Type of channel-direct or indirect, channel length.</li>
<li>Channel coordination.</li>
<li>Hybrid channel conflict.</li>
<li>Transportation requirements.</li>
<li>Inventory needs.</li>
<li>Facilities required.</li>
<li>Reverse channels such as returns and recalls.</li>
</ul>

<h4>Promotion</h4>
<ul>
<li>Objectives.</li>
<li>Message.</li>
<li>Positioning.</li>
<li>Advertising channels and media plan. </li>
</ul>


<h3>Digital Marketing Strategy</h3>
<p>Stay ahead and experience growth by developing a digital marketing strategy. </p>

  <ul>
  <li> Marketing Funnel
  <p>Draw out your ideal customer's journey with the AIDA concept.
  Consumer --> Lead --> Customer --> Brand evangelist. Develop certain strategies for each step to move them through the funnel.
    <ul>
     <li> Consumer --> Awareness <p> Consumers stumble upon your website through a variety of sources. At this stage the goal it to create awareness about your offer. Give them the valuable resource they are searching for in exchange for information about them. Use call-to-actions(CTA), subscribe to a newsletter, view a webinar, request a product demo/trial and promotional offer to gather valueable information such as thier email address, phone number and what brought them to your website.    </li>
     <li> Cold Lead --> Interest<p>You original offer has piqued their interest. Leads are often return consumers actively expressing interest in your products or services. Give them further information specific to their needs.</p></li>
     <li> Hot Lead--> Desire <p> Show them the benfits of your offer and reduce the risks.
     </p></li>
     <li> Customer --> Action<p>Discussing price and payment options.</p></li>
     <li> Promoter --> Understanding</li>
    </ul>
  </li>
  <li>Driving Traffic  
   <ul>
    <li>Quality Content. Blog posts, press releases and articles on authority websites.</li>
    <li>Keyword strategy via SEO and paid Advertising via SEM.</li>
    <li>Social Media <p>Engaging social media posts to attract traffic to your site. Images, video, and customer stories.</p></li>
</ul>
</li>
</ul>


