<% provide(:title, 'Market Research') %>
<h1>Market Research</h1>
<p>Survey Resources
</p>
<ul>
<li> Polldaddy</li>
<li>Survey Monkey</li>
</ul>

<p>Present the Results</p>
<ul>
<li>ChartsNinja</li>
<li> Infogr.am</li>
</ul>