<% provide(:title, 'Marketing Program/Plan') %>
<h1>Marketing Program/Plan</h1>
<h3>The structure of a marketing plan
</h3>
<table>
<tr>
<td>Executive Summary</td>
<td>Brief overview of preposed plan</td>
</tr>
<tr>
<td>Current Situation / Industry Analysis</td>
<td>Background on macroenviroment, market, competition and products. Tools to use include a PEST analysis and a Porters 5 forces.</td>
</tr>
<tr>
<td>SWOT</td>
<td>Identifies strengths, weaknesses, opportunities and threats.</td>
</tr>
<tr>
<td>Marketing Objectives</td>
<td>Defines the financial and marketing goals and how they align with strategy. Sales volumes, market share and profits.</td>
</tr>
<tr>
<td>Marketing Strategy</td>
<td>Broad marketing approach and lists the channels to use and budgets required. </td>
</tr>
<tr>
<td>Action Plan </td>
<td>Defines the IMC campaigns and timelines to achieve objectives. </td>
</tr>
<tr>
<td>Metrics</td>
<td>Measurement and Monitoring systems to be used to define success.</td>
</tr>
</table>