<% provide(:title, 'Metrics') %>
<h1>Metrics</h1>
<p> Doing analytics well is a top priority. Here's why. In order to create an effective marketing strategy you need know which channels work and which ones don’t. This knowledge must be found as quickly as possible so you can find insights and discoveries.
Otherwise you'll be wasting a lot of time and money on meaningless tactics that aren't in line with your vision.</p>

<p> Analytics takes time. It wont happen overnight.

<ul>
<li> Kissmetrics</li>
</ul> 
</p>
