<% provide(:title, 'Mobile Marketing') %>
<h1>Mobile Marketing</h1>

<h3>Marketing with Apps</h3>
<p>Use Apps to attact potential leads or product trials. Ap.io is a tool that let's you have a html5 version interactive demo of your app either as a game or product trial.</p> 
<h4>Metrics for apps</h4>
<p>Unfortunantly attribution (Where did they come from information) is difficult to determine with Apps because there are no cookies (tracking code). AppStores have high security walls and so no cookies. At present attribution is very hard to determine for mobile apps. <h4>Testing your App</h4><p>Taplytics is a great way a/b testing your app.</p>
 
<h3> Video for Mobile</h3>
<p> The ad network's most popular firm is vungle. Use Vungle to increase user engagement.</p>