<% provide(:title, 'Mobile Marketing') %>
<h1>Mobile Marketing</h1>
<p>Mobile web traffic is very cheap.

Video ad network most popular firm is vungle. Engagement.

Share through for native ads across mobile web content.

Ap.io is a tool that let's you have a html5 version interactive demo of your app.To play games. 

2011 tapjoy was challenges by apple. Guarantee top spots in app.


Facebook is excellent at targeted marketing. Install an app without going to the AppStore. The trick with fb is to keep the consumer within the realms of Facebook. Keep the fish in their pond.

Facebook stores.
Facebooks apps.

Measuring systems?

At this point twitter doesn't have the level of targeting as Face book. Brought mopub for 350M


Attribution- where did they come from. Cookies. AppStores have high security walls and so no cookies. So attribution is hard to determine. 


Taplytics is a great a/b testing your app.

Analysis paralysis
Aquisition is only good with attribution. Repeatability.

CTR 

Vitality share capacity. 

Engagement retention. Bounce rate is low, long session times. Depends on business uber want quick session length. Weather apps.

Deeply link is only works if the app is installed. Clicks on a link in an app. 

Acronym soup 

Monetization 
Arpu
LTV 
The main goal is CPA < LTV.


Zynga the core value is current and long term. Consumer Social worth can be same it more than initial purchase.</p>

</p>