<% provide(:title, 'News') %>
<h1>Latest News in Marketing</h1>
<ul>
 <li> 
  <p>Video marketing attracts 2-3 times more visitors, increases time on site and leads to increases in organic search. Video can be used in display advertising, placed on Youtube and hubpages as well as shown on your website. 
  Html 5 is used to create videos for email marketing. It uses an iframe (code snippet) which is like a portal to the video that is found on the server provider website. When a user clicks play the video hosting service starts playing the video serving it to the user via your website.</p>
  <p>Video engagement and link to sales can be measured by <a href="https://developers.google.com/anlaytics/devguides/collections/gajs/eventTrackerGuide">creating <b>events</b> with Google Analytics</a>Events are user interactions that are measured. Events could be clicks, hovers over buttons/images, plays, pauses etc.</p>  
 <h3>Typical Goals</h3>
  <p>Engagement --> How many people watched the movie to the end</p>
  <p>Potentional Lead --> How many people signed up after watching the video</p>
  <p>Sales --> How many people made a purchase after watching the video</p>
 </li>
 <li>
  <h3>Where did they come from? --> (Attrition)</h3>
    <p>With multiple video's in various places it is important to know which channel performs best. This insightful information can be found by referral traffic in Google Analytics</p>
 </li>
 <li>
  <h3>What did they do next? --> (Behavioural Journey)</h3>
   <p>Google Analytics Behaviour Flow to what users did after watching the video.</p>
 </li>
</ul>

</p>