<% provide(:title, 'Online Advertising') %>
<h1>Online Advertising</h1>
<p>Online Advertising content is soon to come!
</p>

<h2>Problem or Need Recognition</h2>
<p>Awareness of the problem and brand awareness for knowledge of the solution</p>
<h2>Information Search</h2>
<p>Most users are not interested in buying straight away. They are interested, in information that helps them make informed decisions. If your site offers relevant information, it gains the user’s trust, and attracts clicks.</p>

<h2>Decision Making</h2>
<p>Review sites and social media</p>
<h2>Purchase</h2>
<h2>Post Purchase</h2>