<% provide(:title, 'Pricing') %>
<h1>Pricing</h1>
<p>Price is not a benefit. Price is a risk to purchase and an assumption on product quality. Sales and discounts are incredibly effective in increasing short term sales because products/services are seen as better quality. High quality at a lower price.
</p>