<% provide(:title, 'SEO') %>
<h1>SEO</h1>
Search engine optimisation is a process of increases your organic (also called editorial or natural) search traffic without momentary costs. SEO is a long term committment and timeconsuming yet if done well, the results are well worth the effort. It is important to be publishing new content on a regular or frequent basis. SEO can be classified as onpage or offpage tactics.
<h3>Onpage SEO</h3>

<p>Include your top keywords within your on-site structure. Keyword Research is the foundation to on-site SEO. Keyword Research is a continuos cycle that distinguishes successful marketers from the rest. Trust me consistency pays off via the compounding effect.<p>

 <ol>
 <li>Current URL: www.yoursite.com/most-important-keyword-goes-here.html</li>
 <li> Title & Description: include the most important keyword between the <title></title> & <meta description> tags. Optimizing them for clarity and relevancy will make a huge difference in CTR's for organic search.</li>
<table>
<tr>
<td valign="top"><%=image_tag("seo.png", alt: "Speclace SEO")%>
</td>
<td>
<img src="">
</td>
</tr>
</table>





<li> Heading 1: Use only one H1 tag, keep it short and include the most important keyword relevant to the page topic. Ensure that the title is enclosed in <h1> tags and is bold.</li>

<li> Sub headings: Sub heading make content easier to read. They are visual cues that sum up the purpose or value of the content below.</li>

<li> First paragraph: include the most important keyword in the first paragraph.</li>


<li> Content: Create interesting, well researched quality, grammatically correct content. Most marketers aim for 500 words or more per page for info content and 250 words for e-commerce product pages. Write in a clear voice that resonates with your target audience. Brevity and relevance is the key to engagement. Include 3-5 relevant keywords and bold them for scanability. Too many websites struggle to post fresh content and instead post  'fluff' artcles with no value. To be frank, this is a pointless waste of time. Why? Google knows you are wasting their readers time. Google unlease an algorithm called Panda to combat this problem. Do not succumb to Panda-penalty bait.</li>

<li> Images: Images provide greater meaning and are the bridge between visual and content. Images tags are a great seo opportunity often neglected by busy marketers. The "alt" attribute allows you to include alternative text for the image doesn't load and for user that have images turned off (eg screen readers). Give you images relevant descriptive names, for example the right image name is "SEO-for-images.jpg" rather than "DCMimage123.jpg"Provide an alt text description to alert search engines to the context of your image. </li>

<li> Links: include the most important keyword in the inbound and outbound links. </li>


<li> Social Media Sharing: Social media is a big part of SEO. Give you audience an easy way to share on facebook, twitter, linked in, pinterest, instagram, google + and other social platforms. </li>

<li> Call-to-actions (CTA's): Conclude each page with a compelling call to action. CTA's are great conversion opportunities. Examples include download a white paper, signup for an offer, click for more info etc.</li>

<li>Sitemaps and Navigation: Google recommends preparing two sitemaps: one for users, one 
for search engines. Create an XML Sitemap and submit it to Google's Webmaster Tools to make it easy for Google bots to find pages in your site. Google has created a <a href="https://code.google.com/p/googlesitemapgenerator/"> Site map generator script</a> to help you create a map.</li>

<li> Create a custome 404 Page that guides user to a working link can improve the user experience. Consider including a search box on the page.

<ol>

<p>
</p>
<p> A fantastic resource is Hubspot's free SEO template. This template helps you plan, organise and implement you SEO strategy step-by-step. Having a structured plan saves your time and allows you to delegate work and be more efficient.
Download the template 
<a href="http://offers.hubspot.com/seo-template-guide">Free SEO template</a></p>

<h4>Keywords</h4>
<p>If you have the budget for it you could  get some good quantitative insights with initial exploratory PPC campaigns and targeted landing pages. This knowledge is valuable and can fuel strategies for other avenues such as SEO and Social Media</p>

<h4>Developer SEO</h4>

<ol>
<li> Page Load time. More on an engagement issue. By shaving off a few milliseconds from load time you may notice lower bounce rates and increase conversions or sales.
</li>
</ol>

<h3> Offpage SEO: Aka Link Building</h3>


<h4>Quick Tips</h4>
<ol>
<li> Never link to bad sites. Bad site are part of the negative PPC group – pills, porn, or casinos. Google calls them Link Schemes.</li>
<li> Don't have too many links. Quality over Quantity! Only link to sites that are of relevance and will help your visiters.</li>
<li> There are plenty of spammy sites out there, Do not link to blogs, websites, directories, link exchanges or forums that have useless content. Do your due diligence and you will have delightful results :). Be a high born link snob!</li>

</ol>

<h3> Other resources</h3>
<p>SEO Starter Guide – Written by Google</p>