<% provide(:title, 'SEO') %>
<h1>SEO</h1>
<h3>Onpage SEO</h3>

<p>Include your top keywords in each of the following sections on you page.<p>

 <ol>
 <li>Current URL: www.yoursite.com/most-important-keyword-goes-here.html</li>
 <li> Page title: include the most important keyword between the <title></title> tags.</li> 
<li> Page description: include the most important keyword in the first sentence.</li>

<li> Heading 1: include the most important keyword in the first sentence. Ensure that it is bold.</li>

<li> Sub headings: Sub heading make content easier to read. They are visual cues that sum up the purpose or value of the content below.</li>

<li> First paragraph: include the most important keyword in the first paragraph.</li>


<li> Content: Most marketers aim for 500 words per page. Write in a clear voice that resonates with your target audience. Brevity and relevance is the key to engagement. Include 3-5 relevant keywords and bold them for scanability.</li>

<li> Images: Images provide greater meaning and are the bridge between visual and content. Images tags are a great seo opportunity often neglected by busy marketers. Give you images relevant descriptive names, for example the right image name is "SEO-for-images.jpg" rather than "DCMimage123.jpg"Provide an alt text description to alert search engines to the context of your image. </li>

<li> Links: include the most important keyword in the inbound and outbound links. </li>


<li> Social Media Sharing: Social media is a big part of SEO. Give you audience an easy way to share on facebook, twitter, linked in, pinterest, instagram, google + and other social platforms. </li>

<li> Call-to-actions (CTA's: Conclude each page with a compelling call to action. CTA's are great conversion opportunities. Examples include download a white paper, signup for an offer, click for more info etc.</li>
<ol>

<p>
</p>
<p> A fantastic resource is Hubspot's free SEO template. This template helps you plan, organise and implement you SEO strategy step-by-step. Having a structured plan saves your time and allows you to delegate work and be more efficient.
Download the template 
<a href="http://offers.hubspot.com/seo-template-guide">Free SEO template</a></p>


<h4>Developer SEO</h4>

<ol>
<li> Page Load time
</li>
</ol>

<h3> Offpage SEO</h3>

<h4>Quick Tips</h4>
<ol>
<li> Never link to bad sites. Bad site are part of the negative PPC group – pills, porn, or casinos.</li>
<li> Don't have too many links. Quality over Quantity! Only link to sites that are of relevance and will help your visiters.</li>
<li> There are plenty of spammy sites out there, Do not link to blogs, websites, directories, link exchanges or forums that have useless content. Do your due diligence and you will have delightful results :). Be a high born link snob!</li>

</ol>