<% provide(:title, 'Social Media Marketing') %>
<h1>Social Media Marketing</h1>
<h2>Social Media Doesn’t Work for my Business</h2>
<p>Many wonder why their social media pages (Facebook, Twitter, LinkedIn etc.) fail to give them the sales they want. But herein lies the problem. Social media isn’t a sales platform. Here’s a quick explanation about why your social media efforts are going to waste.
</p>
<h2>Engagement, engagement, engagement</h2>
<p>Social media is about engagement. It’s not about pushing content out to users, it’s about getting them involved. How you say? Well here are 3 quick tips.</p>
<h3>1. Blogs</h3>
<table cellpadding="15">
<tr>
<td><p>To blog or not to blog? I say blog! It’s all about FAQ’s, <a href="http://www.socialmediaexaminer.com/26-ways-to-create-engaging-content/">expressing opinions, suggesting ideas, providing how-to’s </a>– all related to your product or industry. Be warned however, your aim is not to sell, but to engage users. Always reply to comments as well – positive or negative.</p><p>
Personally, I like Hubpages.com. It’s a great place to post articles/blogs where other writers will find your work and it’s easy to share on social media. You can get paid too! <a href="http://moony27.hubpages.com/">Here’s a link to my profile.</a>
Post your blog links to your social media pages and watch the number views roll in. Do you have a successful blog page for your company? Link below in the comments and I’ll provide some feedback if necessary. :) </p>
</td>

<td valign="top"><%=image_tag("mike_mindel_blog.jpg", alt: "Mike Mindel's Blog")%></td>
</tr>
</table>

<h3>2. Content Curation</h3>
<p>This is such an easy tip to start getting content on your social media sites. You merely look for interesting articles, blogs or information relevant to your industry area and post it with a source link. </p>
<h3>3. Transmedia Storytelling</h3>
<table>
<tr>
<td><p>People like stories – about people, events, experiences – you name it! To engage with your content, you can:  </p>
<ol>
<li>Be personal – when you blog, talk about what you do for your business, your personal goals, how excited you are about a new product release. Use Facebook and Twitter in the same fashion.</li>
<li>Talk about your customers – interview customers with a video camera, edit and post to social media sites or create a blog post about it. Ask customers questions about their experience with the product, or how they’ve implemented it into everyday life. Post these on Youtube, Facebook, Twitter, LinkedIn and on your website under Testimonials.</li>
<li>What are your employees doing? Is an employee completing a charity run? Are they involved in a not-for-profit campaign? Tell stories about your employees as well!</li>
</ol>
</td>
<td><img src = ""></td>
</tr>
</table>
<p>e.g Humans of New York Facebook page
Make sure you use variety on Social Media. What’s a quick rule? Use 50% curated content, 30% original content from your business and 20% promotions – <a href="http://briancartergroup.com/">Brian Carter from Social Media Marketing World.</a></p><p>
I’d love you to post below if you have any more social media tips. What works for you? Us marketers need to help each other : ).</p>
<p><i>Written by Meagan DeVries 20/5/2014</i></p>



