<% provide(:title, 'Strategic Analysis') %>
<h1>Strategic Analysis</h1>
<p>Strategic Analysis content is soon to come!
</p>

<h3>Product Life Cycle</h3>

<p>Once a product is born, its life follows a well-known cyclical pattern. The 4 stages Introduction, Growth, Maturity and Decline. Similar to human lifecycles, products also have different characteristics at different stages of their lives.</p>

<p> It is important to know your products age in the product lifecycle (PLC) because it has a strong influence on marketing stratgeies and investments</p><p> Advertising strategy, pricing and place of distribution. </p>